.upButton {
  background: white;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 1s, transform 0.1s;
}

.upButton:hover {
  cursor: pointer;
  background: #ececec;
}

.upButton:active {
  transform: scale(1.2);
}

// @media (max-width: 590px) {
//   .upButton {
//     display: none;
//   }
// }
