.themeWrapper {
  padding: 10px;
  border-radius: 10px;
  transition: background-color 1s;
}

.themeWrapper:hover {
  cursor: pointer;
  user-select: none;
  background: var(--hover-color);
}

.headerTeme {
  font-size: 14px;
  color: var(--font-color);
}
