.cards,
.lessThanThreeCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  row-gap: 50px;
  column-gap: 50px;
}

.lessThanThreeCards {
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

@media (max-width: 420px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
