.headerWrapper {
  position: sticky;
  top: 0;
  z-index: 4;
  background: var(--header-color);
  margin: 0 -100px;
  box-shadow: 0 0 0 2px var(--shadow-color);
  transition: background-color 0.5s ease-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 100px;
}

.headerTitle {
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  color: var(--font-color);
  cursor: default;
}

@media (max-width: 590px) {
  .header {
    flex-direction: column;
    height: 100px;
    padding-bottom: 10px;
    justify-content: space-around;
  }

  .headerTitle {
    transition: margin-top 1s;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .headerTitle {
    transition: font-size 0.5s;
    font-size: 14px;
  }
}
