.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #fbfbfb;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.flag {
  height: 150px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cardDescription {
  margin: 20px;
}

.contryInfo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.infoProperty,
.infoValue {
  font-size: 12px;
}

.infoProperty {
  font-weight: bold;
}

.infoProperty::after {
  content: ":";
}
