.filterButton {
  border: 0;
  background: var(--header-color);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px var(--shadow-color);
  transition: transform 0.3s, background-color 0.5s ease-out;
  backface-visibility: hidden;
}

.filterButtonText {
  font-family: "Montserrat";
  color: var(--font-color);
}

.filterButton:hover {
  transform: scale(1.02);
}

@media (max-width: 375px) {
  .filterButton {
    padding: 20px 20px;
  }
}
