.input {
  transition: width 1s, background-color 0.5s ease-out;
  width: 25vw;
  border: 2px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 0 2px var(--shadow-color);
  background: var(--header-color);
  color: var(--font-color);
}

.input:focus-visible {
  outline: 0;
}

.input::placeholder {
  font-family: "Montserrat";
}

@media (max-width: 590px) {
  .input {
    width: initial;
  }
}
